#body {
  background: #242424;
  color: #ffffff;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.wrapper {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

header {
  text-align: center;
  padding: 40px 0;
}

h1 {
  color: white;
  margin: 0;
}

form {
  width: 100%;
  max-width: 800px;
  margin: 8px auto;
  background: #242424;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0, 1);
}
input[type='text'] {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #121212;
  color: white;
}

button {
  background: #3498db;
  color: white;
  padding: 12px 24px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 5px;
}

button:disabled {
  background: #bdc3c7;
}

.error {
  color: #e74c3c;
  padding: 10px;
  border: white;
}

.recommendation {
  background: #242424;
  padding: 20px;
  margin: 20px auto 0;
  /* border: 1px solid white; */
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 800px;
  color: white;
  display: block;
}
